.flex {
    display: flex;
    flex-flow: row nowrap;
}

@media (max-width: 375px) {
    .flex {
        display: flex;
        flex-flow: column nowrap;
    }
}

.flex--tasksList {
    display: flex;
    flex-flow: row nowrap;
}

.flex__item {
    flex: 1 1 auto;
    padding: 5px;
    margin: 10px;
}

.flex__item--button {
    flex: 0 0 auto;
    color: #fff;
    background-color: #079292;
    border: solid #079292;
    margin: 10px 0px;
}

.flex--tasksList .flex__item {
    flex: 1 1 auto;
    margin: 0px;
}

.flex--tasksList .flex__item--button {
    flex: 0 0 auto;
    color: #fff;
    background-color: #fff;
    border-style: none;
}